body {
    background: rgb(31, 30, 30);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.container {
    background: green;
    height: 100%;
    width: 65%;
}