@font-face {
    font-family: Norse;
    src: url(Norse-Bold.otf);
  }

:root {
    --transition-time-label: 0.4s;
    --input-height: 30px;
    --margin-bottom-input: 30px;
}

body {
    background: rgb(31, 30, 30);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    background: green;
    height: 100%;
    width: 65%;
    display: grid;
    grid-template-columns: 0.6fr 1fr;
    grid-template-rows: 1fr;
}

/* ------------ IMAGENES -------------*/

.container .imagen {
    justify-content: flex-start;
    height: 100%;
    background-color: white;
    position: relative;
}

.imagen .Odin_logo {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: rgb(0, 0, 0,0.2);
    top: 0;
}

.imagen .credits {
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 5px;
    color: white;
    font-size: 13px;
}

a {
    color: white;
}

.container .imagen img {
    height: 100%;
    width: 100%;
}

.imagen .Odin_logo img {
    width: 30%;
    height: 100px;
    margin-right: 40px;
}

.imagen .Odin_logo .odin_text {
    font-size: 80px;
    color: white;
    justify-self: flex-start;
    margin: auto;
    font-family: Norse, 'Times New Roman', Times, serif;
}

/* ---------------------------------------------*/

.container .subcontainer {
    display: grid;
    grid-template-rows: 0.6fr 1fr 0.4fr;
   
}

.container .subcontainer > * {
    background-color: #DCDCDC;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
}

.container .subcontainer .first{
    font-weight: 600;
}

.container .subcontainer .first .second_text {
    align-self: flex-start;
    margin-top: 30px;
}


.container .subcontainer .second {
    background-color: white;
}

.container .subcontainer .second form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
}

form .form_first_section{
    margin-right: 60px;
}

form .form_second_section{
    margin-left: 50px;
}

form .form_first_section > * {
    position: relative;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #adadad;
    margin-bottom: var(--margin-bottom-input);
   
}

form .form_second_section > * {
    position: relative;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #adadad;
    margin-bottom: var(--margin-bottom-input);
}

form label {
    position: absolute;
    top: -20px;
    left: 5px;
    font-size: 14px;
    color: #adadad;
    transition: var(--transition-time-label);
    pointer-events: none;
}

h1 {
    font-size: 25px;
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 50px;
}

input{
    
    border: 1px solid silver;
    height: var(--input-height);
    border: none;
    background-color: none;
    padding: 0 5px;
    outline: none;
    font-size: 16px;
    width: 100%;
}

form input:focus ~ label {
    font-size: 15px;
    color: #2691d9;
}

span::before {
    content: '';
    position: absolute;
    top: var(--input-height); /*Corresponde con la altura del INPUT. */
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: var(--transition-time-label);
}

form input:focus ~ span::before {
    color: #2691d9;
    width: 100%;
}

button[type='submit'] {
    width: 180px;
    height: 50px;
    background-color: #005093;
    border: 2px solid black;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}
 #error {
    margin-top: -25px;
    margin-bottom: 0;
    color: red;
    font-size: 13px;
    background: none;
    background-color: none;
    border-bottom: 0px;
 }

 .third a {
     color: #005093;
     text-decoration: none;
 }